.page {
  min-width: 1100px;
  max-width: 1600px;
  margin-right: 1600px;
  margin-left: 1600px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.header {
}
.footer {
}
